.favorites i.animated {
    animation: bounce 0.3s;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
    .favorites i.solid-heart {
      color:var(--primary-color);
      background: var(--hover-color);
    }
   
  