.no-scroll {
    overflow: hidden;
}
.panier-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
    overflow: hidden;
}
.panier-overlay.active {
    display: block; 
}

.panier-container {
    position: absolute;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100%; 
    background: var(--secondary-color);
    z-index: 1000;
    transition: all 3s ease;
}

.panier-container.active {
    right: 0;
    
}

.panier-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin: 20px 30px;
    border-bottom: 1px solid #ddd;
}

.panier-header h2 {
    font-size: 18px;
    font-weight: 500;
}

.panier-header i {
    font-size: 20px;
    border-radius: 50%;
    padding: 5px 8px;
    cursor: pointer;
}

.panier-header i:hover {
    background: var(--hover-color);
}
.panier-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.panier-empty i{
    font-size: 70px;
}
.panier-empty h3{
  font-weight: 500;
}
.panier-items {
  overflow: auto;
  height: calc(100% - 100px); /* تخصيص مساحة للحاوية التي تحتوي على العناصر والفصل */
    position: relative;
  }
  .panier-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    gap: 15px;
  }
  .panier-item-image {
    width: 100px;
    height: 100px;
}
.panier-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
  
  .panier-item-info {
    display: flex;
   flex-direction: column;
   width: 100%;
   gap: 10px;
  }
  .panier-item-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .panier-item-name h3,span{
    font-size: 0.7em;
    font-weight:500 ;
  }
  
  .panier-item-quantity {
    display: flex;
    align-items: center;
  }
  .panier-item-quantity button {
   background: var(--hover-color);
   padding: 5px 10px;
   font-size: 0.8em;
   cursor: pointer;
   border-radius: 5px;
   border: none;
  }
  .panier-item-quantity span{
    margin-left: 10px;
  width: 20px;
  }
  .panier-item-quantity button:hover,
  .panier-item-quantity button:active{
      background: var(--primary-color);
      color: white;
  }  
  .remove-item {
    background: rgba(255, 0, 0,0.15);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .remove-item i{
    color: red;
  }
  .remove-item:hover i{
    color: white !important;
  }
  .remove-item:hover {
    background: rgb(194, 28, 28)
  }
  .panier-total{
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
   bottom: 0;
   border-top: #ddd 1px solid;
   padding-top: 20px;
  }
  .panier-total-separator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
  .panier-total-separator span{
    font-size: 1em;
    font-weight: 500;
  }
  .panier-total button{
    max-width: 90%;
    background:var(--primary-color) ;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    animation:zigzag 0.6s infinite ;
  }
  .panier-total button:hover{
    background: rgb(210, 24, 55) ;
  }
  .panier-total button.disabled{
    display: none;
  }
  @keyframes zigzag{
    0%{transform: translateX(0);}
    50%{transform: translateX(-5px);}
    100%{transform: translateX(0);}
  }
  @media  screen and (min-width: 768px) and ( max-width: 1024px) {
    .panier-container{
      width: 90%;
    }
    
  }
  @media screen and (max-width: 480px) {
    .panier-container{
      width: 90%;
    }
    
  }